h1, h2, h3, .navbar-brand { font-family: "Roboto", sans-serif; }

p { 
  font-family: "Roboto", sans-serif;
  width: 50%;
  margin: 1em;
  padding: 1em; 
}


.navbar-default {
  background-color: #e67e22;
  border-color: #d35400;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffe6d1;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffe6d1;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #e67e22;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #ffe6d1;
  background-color: #d35400;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li.divider {
  background-color: #d35400;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #ffe6d1;
  background-color: #d35400;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffe6d1;
  background-color: #d35400;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffe6d1;
  background-color: #d35400;
}
.navbar-default .navbar-toggle {
  border-color: #d35400;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #d35400;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;

}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #ffe6d1;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffe6d1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffe6d1;
    background-color: #d35400;
  }
}





.img {
    position: relative;
    float: left;
    width:  100px;
    height: 100px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}


#rent-price-result {
  display: inline-block;
  padding: 0.30em 0;
  border: solid 2px red;
  margin-right: 1em;
  width: 10em;
  text-align: center;
}




#container{
    width: 1020px;
    height: 600px;
}


#main_image{
    width:680px;
    height:350px;
    background: url('/static/img/Shenas_thrift_wall.jpg');
}

 .dragme{
      position:relative;
      width: 120px;
      height: 100px;
      cursor: move;
      border: 1px solid gray;
      z-index: 0;
    }
  #draggable {
      background-color: #ccc;
      border: 1px solid #000;
    }

.modal-content{
    width:682px;
    height:530px;
}

.modal-submit-content{
    width:682px;
    height:1020px;
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5)
}

#comment-area{
  height: 100px;
  width: 250px;
}





