
{% extends 'base.html' %}
{% block content %}


<div id ="container-full" class= "container-fluid">

	<div id="pull-down-listing" class="row">
		<div class="col-md-6">
			<h1> User information for: </h1>
			<h1>{{ user.first_name }} {{ user.last_name }}</h1>
			<div>
			<br>Email: {{ user.email }}<br>
			Phone Number: {{ user.phone }}<br>
				<br>
			{{ user.description }}
			<br> <br> 
			</div>

			<p>
			<button class="btn btn-info btn-default" onclick="window.location.href='/new_listing'">Listings Posted</button>
			<button class="btn btn-info btn-default" onclick="window.location.href='/purchase_history'">Purchase History</button><br>
			<br>
	 			<!-- Trigger the modal with a button -->
                <button type="button" class="btn btn-warning btn-lg" data-toggle="modal" data-target="#myModal">Update User Info </button>
                <!-- Modal -->
                <div id="myModal" class="modal fade" role="dialog">
                  <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Update User Info</h4>
                      </div>
                      <div class="modal-body">
                        
                      	<div>
							<form action='/update_account' method="POST">
								<h3>Update Information:</h3>
								(please fill out all fields)<br>
								Email: 
								<input type="text" name= "email" required="True">
								Password: 
								<input type="password" name="password" required="True">
								<input type='submit' value="Update">
							</form>
							</div>
							<div>
							<form action='/update_account' method="POST">
								Change Phone Number:<br>
								<input type="text" name="phone" required>
								<input type='submit' value="Update">
							</form>
							</div>
							<div>
							<form action='/update_account' method="POST">
								Change Profile Photo:<br>
								<input type="text" name="photo">
								<input type="submit" value="Update">
							</form>
							</div>
							<div>
							<form action='/update_account' method="POST">
								Change Description:<br>
								<input type="text" name="description">
								<input type="submit" value="Update">
							</form>
							</div><br>

							<div>
							    <form action='/' method="POST">
							    <input type="button" class="btn btn-danger btn-lg" type='submit' value='DELETE ACCOUNT'>
							    </form>
							</div>

                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-info btn-lg" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>

     </div>

	<div class="col-md-6">
			<img src='{{ user_photo }}' height=100% width= 100%>
			<h3>User Ad: <h3>
			<img src='{{ user_ad }}' width="50%" height="50%"/> 
			<button class="btn btn-info btn-default" onclick=""> Upload More Ads</button>
		</div>
	</div>
	

</div>





{% endblock %}

