{% extends 'base.html' %}
{% block content %}


<div id ="container-full" class= "container-fluid">
    <div id="pull-down-listing" class="row">

        <div class="col-md-6"
            	<div id="add_user">
                    <h1>Add User Form</h1>
                    <form action="/process_new_user" method="POST">
                        First Name:<br>
                        <input type="text" name="fname" required><br>

                        Last Name:<br>
                        <input type="text" name="lname" required><br>

                        Email:<br>
                        <input type="text" name="email" required><br>

                        Password:<br>
                        <input type="text" name="password" required><br>

                        Phone:<br>
                        <input type="text" name="phone" required><br>

                        Zipcode:<br>
                        <input type="text" name="zipcode" required><br>

                        Photo:<br>
                        <input type="text" name="photo"><br>

                        Description:<br>
                        <input type="text" name="description">

                        <br>
                        <br>
                        <input class="btn btn-info btn-lg" type="submit" name="add_user">
                    </form>
        </div>


    <div class="col-md-6">
          <img class="img-rounded" src="/static/img/photo_camera.jpg" height=260px width=285px><br><br>
          <button class="btn btn-info btn-default" onclick=""> Upload Photo</button>
    </div>

    </div>
</div>


{% endblock %}