<!doctype html>
<html>
<head>
    <script src="http://code.jquery.com/jquery.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Raleway:100,700'
          rel='stylesheet'>
    <link href="/static/css/all.css" rel="stylesheet">

    {% block head %}
    {% endblock %}


    <title>OOH</title>
</head>
<body>





 <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button"
                        class="navbar-toggle collapsed"
                        data-toggle="collapse"
                        data-target="#navbar"
                        aria-expanded="false"
                        aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {% if "user" not in session %}
                    <a class="navbar-brand" href="/">
                <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
                AdCollab - connect, collaborate, advertise!
                {% else %}
                <a class="navbar-brand" href="/entry_page">
                <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
                AdCollab - connect, collaborate, advertise!
                {% endif %}
            </div>

            <div id="navbar" class="navbar-collapse collapse">

                <!-- Login / Logout -->
                <ul class="nav navbar-nav navbar-right">
                <li data-toggle="modal"
                    data-target=".bs-example-modal-sm">
                {% if "user" not in session %}
                <a href="/">Login</a>
                {% endif %}
                {% if "user" in session %}
                <a href="/logout">Logout</a>
                {% endif %}
                </li>

                    <!-- Drop Down -->
                    <li class="dropdown">
                    {% if "user" in session %}
                        <a href="/account_info"
                           class="dropdown-toggle"
                           data-toggle="dropdown"
                           role="button"
                           aria-expanded="false">
                            Settings <span class="caret"></span></a>
                        <ul class="dropdown-menu" >
                            <li><a href="/account_info">Your Account</a></li>
                            <li class="divider"></li>
                            <li><a href="/new_listing">Create a Listing</a></li>
                            <li>
                            {% if "user" not in session %}
                            <a href="/"></a>
                            {% endif %}
                            {% if "user" in session %}
                            <a href="/advertise">Book a Listing</a></li>
                            {% endif %}
                            <li><a href="/favorite_listing">View Favorite Listings</a></li>
                            <li><a href="#">Booking History</a></li>
                            <li><a href="#">Help</a></li>
                        </ul>
                    {% endif %}
                    </li>
                    <!-- Search Form -->
                <form class="navbar-form navbar-right">
                <div class="form-group">
                    <label for="searchform"></label>
                    <input type="text" class="form-control" id="searchform" placeholder="Enter Search Here">
                </div>
                <button class="btn btn-info" type="submit" >Submit</button>
                </form>
                </ul>
            </div>
        </div>
    </nav>







<div id="extending">
    {% for flash in get_flashed_messages() %}
      <div class="alert alert-danger" style="width:90%; margin:0 auto;">{{ flash }}</div>
    {% endfor %}
{% block content %}
{% endblock %}
</div>

    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</body>
</html>


