
{% extends 'base.html' %}
{% block content %}


<div id ="container-full-line" class= "container-fluid">

	<div id= "pull-down-class" class="row">
		<div class="col-md-6 text-center">

			<h1>Advertise</h1>
			<img class="img-rounded" src="/static/img/ooh_ad_image.jpg" height=260px width=285px><br><br>
			<button class="btn btn-info btn-lg" onclick="window.location.href='/advertise'"> Start Advertising!</button>
		</div>

		<div class="col-md-6 text-center">
			<h1>Create a Listing</h1>
			<img class="img-rounded" src="/static/img/sign_up2.jpg" height=260px width=285px><br><br>
			<button class="btn btn-info btn-lg" onclick="window.location.href='/new_listing'">Create A New Listing!</button>
		</div>
	</div>

</div>


{% endblock %}