{% extends 'base.html' %}
{% block content %}


<div id ="container-background" class= "container-fluid">

  <div class="row">
    <div class="col-md-6">
    </div>


                      <div id="homepage-class" class="col-md-6 text-center">
                      <p></p>
                        <img src="/static/img/AdCollab_logo2.png" width= 70% height=70%>


                              <div id="login_user">
                                <label></label>
                                  <form class="form-inline" action="/process_login" method="POST">
                                    <div class="form-group">
                                      <label>Email</label>
                                      <input type="email" class="form-control" placeholder="Email" name="email" required>
                                    </div>
                                    <p>
                                    <div class="form-group">
                                      <label>Password</label>
                                      <input type="password" class="form-control" placeholder="Password" name="password" required>
                                    </div>
                                    </p>
                                    <p>
                                      <div class="checkbox">
                                        <label>
                                        <input type="checkbox"> Remember me
                                        </label>
                                        <button type="submit" class="btn btn-info" name="login_user">Login</button>
                                      </div>
                                    </p>
                                  </form>

                                  <button class="btn btn-info btn-lg" onclick="window.location.href='/new_user'">Create An Account</button> <br> <br>
                              </div>
                     
                      </div>


    </div>

</div>



             <!--  <div>
              <h2>Users</h2>
              <p><a href="/view_users">View all users</a></p>
              </div>
              <div>
              <h2>Listings</h2>
              <p><a href="/view_listing">View all listings</a></p>
              </div> -->

        


{% endblock %}

