<!-- this will be a generic page that will be populated with whatever listing_id infor the user clicks on.... -->

{% extends 'base.html' %}
{% block content %}


<div id ="container-full" class= "container-fluid">


  <div id="pull-down-listing" class="row">
    <div class="col-md-6">
              <div> 
                <h1>Listing Info</h1>

                    <h4>Business Name:  </h4> 
                    <li>{{ listing.business }}</li>

                    <h4>Phone:  </h4>
                    <li>{{ listing.phone }}</li>

                    <h4>Address:  </h4>
                    <li>{{ listing.address }}</li>

                    <h4>Ad Space Dimensions:</h4>
                    <li>Height: {{ listing.height_max }} ft</li>
                    <li>Width: {{ listing.width_max }} ft</li>
              </div>

        <div>
                  <h2> Select This Listing</h2>
                <h4> Price: $ {{ listing.price }} / month </h4>
      
                  <form action="/process_booking" id="calendar-form" method="POST">
                     <div>

                        Start Date:
                          <select name="start_date" id="start_date">
                            <option value="july17">July 2017</option>
                            <option value="august17">August 2017</option>
                            <option value="september17">September 2017</option>
                            <option value="october17"17>October 2017</option>
                            <option value="november17">November 2017</option>
                            <option value="december17">December 2017</option>
                            <option value="january18">January 2018</option>
                            <option value="february18">February 2018</option>
                            <option value="march18">March 2018</option>
                          </select>


                        End Date:
                          <select name="end_date" id="end_date">
                             <option value="july17">July 2017</option>
                            <option value="august17">August 2017</option>
                            <option value="september17">September 2017</option>
                            <option value="october17"17>October 2017</option>
                            <option value="november17">November 2017</option>
                            <option value="december17">December 2017</option>
                            <option value="january18">January 2018</option>
                            <option value="february18">February 2018</option>
                            <option value="march18">March 2018</option>
                            <option value="april18">April 2018</option>
                            <option value="may18">May 2018</option>
                          </select>
                    </div>
                    <br>

                        <div>
                           <input type="submit" id="calc-months" class="btn btn-primary input-sm" value="Calculate">
                          <h4>Total Price Selected: $   <span id="rent-price-result" data-listing-price="{{ listing.price }}" name="rent-price-result">&nbsp;</span> </h4>
                        </div>
              </form>
          </div>

    </div>


<div class="col-md-6">
            <img src='{{ listing_owner_photo }}' width="100%" height="100%" />
            <div>
                    <div>
                      <h3> Ad Dimensions: </h3>
                      <label> Height:<input type="text" size="5" name="ad_height" id="ad-height" value="5" required>ft </label> 
                      <label> Width:<input type="text" size="5" name="ad_width" id="ad-width" value= "4" required>ft </label> <br> <br>
                    </div>
            </div>

        <div>
          <!-- Trigger the modal with a button -->
          <button id="drag-modal" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Click to See Listing Space </button>
          <!-- Modal -->
          <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content"> 
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">{{ listing.business}}:    "Drag Image Below"rr</h4>
                      </div>
                      <div id="container">
                          <div id="main_image" class="listing"></div>
                          <img src="/static/img/flower_shop_SIGN.jpg" alt="drag-and-drop image script" 
                           title="drag-and-drop image script" class="dragme">
                      </div>
              </div>
            </div>
          </div>
        </div>

        <br> <br>
          <!-- Trigger the modal with a button -->
          <button id="email-modal-button" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#Modal">Request This Listing!</button>
          <!-- Modal -->
              <div id="Modal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-submit-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h4 class="modal-title">Sending Your Request to Sheyna  -  Review Below</h4>
                            </div>
                        <div id="send-email-modal" class="modal-body">
                          <p> You are just one step away from booking your ad listing! An email will be sent to {{ listing.business }} with the following information. Please review and double check that all parameters have been correctly selected.</p>
                          <h5> Request Detail: </h5>
                          <li id="modal-rent-price"> Total Booking Price: </li>
                          <li id="modal-start-month"> Start Month: </li>
                          <li id="modal-end-month"> End Month: </li>
                          <li id="modal-ad-height"> Ad Height: </li>
                          <li id="modal-ad-width"> Ad Width: </li>
                          <h5> User Requesting Listing</h5>
                          <p><img id="requester-photo" src='{{ user_photo }}' width="50%" height="50%"/> </p>
                          <li id="requester-name"> {{ user.first_name }} {{ user.last_name }}</li>
                          <li id="requester-phone"> {{ user.phone }}</li>
                          <li id="requester-email"> {{ user.email }}</li>
                          <h4> Optional Comment: </h4>
                          <h6>Use AdCollab's default message or customize your own!</h6>
                          <textarea name="comment" id="requester-comment" rows="4" cols="50" form="usrform">Hi! My name is {{user.first_name}} {{user.last_name}} and I am interested in booking your ad listing! </textarea>
                            <li id="listing_email" hidden> dvmcoupons@gmail.com</li>
                            <li id="listing_business" hidden> {{ listing.business }}</li>
                            <li id="listing_name" hidden>Sheyna</li>
                        </div>
                        <div class="modal-footer"> <h4>Send your request!</h4>
                          <button type="button" id="email-submit-button" class="btn btn-info btn-lg" data-dismiss="modal">Submit</button>
                        </div>
                  </div>

                </div>
              </div>
         </div>


 </div>






</div>


<script src="http://code.jquery.com/jquery.js"></script>
<script src="/static/js/booking.js"></script>


<script>

  $("#email-modal-button").on('click', function(){
            var rent_price = $('#rent-price-result').text()
            var startMonth = $('#start_date option:selected').text()
            var endMonth = $('#end_date option:selected').text()
            var adHeight = $('#ad-height').val()
            var adWidth = $('#ad-width').val()

            $("#modal-rent-price").html("Rent Total Price: $"+ rent_price)
            $("#modal-start-month").html("Start Date: "+ startMonth)
            $("#modal-end-month").html("End Date: "+ endMonth)
            $("#modal-ad-height").html("Ad Height: "+adHeight+"ft")
            $("#modal-ad-width").html("Ad Width: "+adWidth+"ft")
  });


$("#email-submit-button").on('click', function(){
            var emailDetail = {
            "rent_price": $('#rent-price-result').text(),
            "startMonth": $('#start_date option:selected').text(),
            "endMonth": $('#end_date option:selected').text(),
            "adHeight": $('#ad-height').val(),
            "adWidth": $('#ad-width').val(),
            "requesterName": $('#requester-name').text(),
            "requesterPhone": $('#requester-phone').text(),
            "requesterEmail": $('#requester-email').text(),
            "requesterComment": $('#requester-comment').text(),
            "listingEmail": $('listing-email').text(),
            "listingName": $('listing-name').text(),
            "listingBusiness": $('listing-email').text()
          }
          console.log(emailDetail)

          $.post('/emailDetail.json', emailDetail, function(email){
              console.log("You did it!")
              alert("Listing Request Sent! Check Your Email for Confirmation.")
          });

});

</script>





<!-- <script src="/static/js/ad_modal.js"></script> -->
<!-- <script src="/static/js/text.js"></script> -->

{% endblock %}