{% extends 'base.html' %}
{% block head %}

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBywdmqR6C_Nc1Cq0BS65r4KX0Ai2AUZ14"></script>
<script src="https://code.jquery.com/jquery.js"></script>
<style> #diana-map {height:500px; width:500px;} </style>
<script src="/static/js/map.js"></script>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>

{% endblock %}
{% block content %}

<div class= "container">

    <div class="col-md-4">
        <h1>Listings</h1>
        <h2> Select a Zipcode: </h2>
        Enter zipcode:
        <input name="searchTxt_name" type="text" size="8" maxlength="512" id="searchTxt" class="searchField"/>
        <button class="btn btn-info btn-default" id="searchButton">Submit</button><br><br>

                Price Range: <br>
                Min: $ <input type="text" size="8" name="min_price" id="min_price"><br>
                Max: $ <input type="text" size="8" name="max_price" id="max_price"><br>
                <br>
                Ad Dimensions: <br>
                Height: <input type="text" size="8" name="ad_height" id="ad-height"> ft. <br> 
                Width: <input type="text" size="8" name="ad_width" id="ad-width"> ft. <br> 

                <button class="btn btn-info btn-default" id="filter_search">Submit</button> 
    </div>


    <div class="col-md-8">
        <div id="diana-map" ></div>
    </div>

</div>

<script>
    var map;
    var markers;
    var bindInfoWindow;

    $("#searchButton").on("click", function(){
        zipcode_zoom( document.getElementById("searchTxt").value)
    });
   

    $("#filter_search").on("click", function(){
        var min_price = document.getElementById("min_price").value;
        var max_price = document.getElementById("max_price").value;
        var ad_height = document.getElementById("ad-height").value;
        var ad_width = document.getElementById("ad-width").value
        filter_search(min_price, max_price, ad_height, ad_width)
    });
</script>


<script> google.maps.event.addDomListener(window, 'load', initMap); </script>



{% endblock %}
