{% extends 'base.html' %}
{% block content %}

<h1>OOH Marketing</h1>

	<!-- RANDOM CONFIRMATION PAGE!!

    I want to redirect the user instead to their PROFILE page... that has table of all records made by USER.  -->

 <!--    **** I think right now this is going to pull up ALL rental records..... not just the ones pertaining to that USER.ID *** -->

     <h1>Records of Rentals</h1>
    <ul>
      {% for rental in rentals %}
          <li>
              <a href="/rentals/{{ rentals.business }}">
                {{ rentals.business }} <br>
                {{ rentals.address }} <br>
                {{ rentals.start_date }} <br>
                {{ rentals.end_date }}<br>
                {{ rentals.price }} <br>
                {{ rentals.is_active }}<br>

              </a>
          </li>
      {% endfor %}
    </ul>

    


{% endblock %}